<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layouts/main.html">
<head>
    <title>#{label.admin}</title>
    <link rel="stylesheet" th:href="@{/css/pagination.css}" type="text/css">
</head>
<div layout:fragment="myContent" >

    <div class="row">
        <div class="col-3">
            <ul class="list-group" sec:authorize="hasAnyRole('ROLE_ADMIN')">
                <li class="list-group-item"><a th:href="@{/admin/category}" th:text="#{label.category}"></a></li>
                <li class="list-group-item"><a th:href="@{/admin/tournament}" th:text="#{label.tournament}"></a></li>
                <li class="list-group-item"><a th:href="@{/admin/event}" th:text="#{label.event}"></a></li>
            </ul>
        </div>
        <div class="col-9" layout:fragment="adminContent" style="min-height: 700px;"></div>
    </div>

</div>
</html>