<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="admin/admin.html">
<head>
    <title>#{label.admin}</title>
    <link rel="stylesheet" th:href="@{/css/pagination.css}" type="text/css">
</head>
<div layout:fragment="adminContent" >

    <div class="row mt-3" id="event">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-6">
                            <h3 class="card-title" th:text="#{label.events}"></h3>
                        </div>
                        <div class="col-6 pr-0 mr-0">
                            <button class="btn btn-success mr-0" @click.prevent="addModal">Add Event</button>
                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>ID</th>
                                <th>Team1</th>
                                <th>Team2</th>
                                <th>Score Team1</th>
                                <th>Score Team2</th>
                                <th>Date</th>
                                <th>Tournament</th>
                                <th>Action</th>
                            </tr>
                            <tr v-for="event in events">
                                <td>{{event.id}}</td>
                                <td>{{event.team1}}</td>
                                <td>{{event.team2}}</td>
                                <td>{{event.scoreTeam1}}</td>
                                <td>{{event.scoreTeam2}}</td>
                                <td>{{event.date}}</td>
                                <td>{{event.tournament.name}} : {{event.tournament.id}}</td>
                                <td>
                                    <span><button class="btn btn-info mb-2" @click.prevent="editModal(event)">Update</button></span>
                                    <span><button class="btn btn-danger" @click.prevent="deleteModal(event)">Delete</button></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination
                            :current="currentPage"
                            :total-pages="totalPages"
                            @page-changed="fetchTournaments">
                    </pagination>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="tournamentModalLabel"><span v-if="!editMode">Add Event</span><span v-if="editMode">Update Event</span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="eventForm" class="form-group" @submit.prevent="editMode ? updateEvent() : addEvent()">
                            <input type="hidden" value="" name="id" v-model="form.id">
                            <div class="form-row">
                                <label>Team1:
                                    <input type="text" value="" class="form-control" name="name" v-model="form.team1">
                                </label>
                            </div>
                            <div class="form-row">
                                <label>Team2:
                                    <input type="text" value="" class="form-control" name="name" v-model="form.team2">
                                </label>
                            </div>
                            <div class="form-row" v-if="editMode">
                                <label>Score Team1:
                                    <input type="text" value="" class="form-control" name="name" v-model="form.scoreTeam1">
                                </label>
                            </div>
                            <div class="form-row" v-if="editMode">
                                <label>Score Team2:
                                    <input type="text" class="form-control" value="" name="name" v-model="form.scoreTeam2">
                                </label>
                            </div>
                            <div class="form-row">
                                <label for="datetimepicker">Time</label>
                                <input id="datetimepicker" class="form-control" type="text" v-model="form.date">
                            </div>
                            <div class="form-row">
                                <label>Tournament:
                                    <select class="form-control" name="tournamentId" v-model="form.tournamentId">
                                        <option v-if="!editMode"></option>
                                        <option v-for="tournament in tournaments" :value="tournament.id">{{tournament.name}}</option>
                                    </select>
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button form="eventForm" v-if="editMode" type="submit" class="btn btn-primary">Update</button>
                        <button form="eventForm" v-if="!editMode" type="submit" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Event</h5>
                    </div>
                    <div class="modal-body">
                        <p>Are sure to delete?</p>
                        <form id="deleteForm" @submit.prevent="deleteEvent()">
                            <input type="hidden" name="id" value="" v-model="form.id">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button form="deleteForm" type="submit" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <template id="pagination-template">
        <div class="pagination">
            <div class="pagination__left">
                <a href="#" v-if="hasPrev()" @click.prevent="changePage(prevPage)">Previous</a>
            </div>
            <div class="pagination__mid">
                <ul>
                    <li v-if="hasFirst()"><a href="#" @click.prevent="changePage(1)">1</a></li>
                    <li v-if="hasFirst()">...</li>
                    <li v-for="page in pages">
                        <a href="#" @click.prevent="changePage(page)" :class="{ current: current == page }">
                            {{ page }}
                        </a>
                    </li>
                    <li v-if="hasLast()">...</li>
                    <li v-if="hasLast()"><a href="#" @click.prevent="changePage(totalPages)">{{ totalPages }}</a></li>
                </ul>
            </div>
            <div class="pagination__right">
                <a href="#" v-if="hasNext()" @click.prevent="changePage(nextPage)">Next</a>
            </div>
        </div>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/moment@2.22"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
    <script th:src="@{/js/pagination.js}"></script>
    <script th:src="@{/js/event.js}"></script>

</div>
</html>