<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title th:text = "#{label.title}"></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/owl.theme.default.min.css}">
        <script th:src="@{/js/jquery-3.4.1.js}" type="application/javascript"></script>
        <script th:src="@{/js/bootstrap.js}" type="application/javascript"></script>
        <script th:src="@{/js/popper.min.js}" type="application/javascript"></script>
        <script th:src="@{/js/popper.min.js}" type="application/javascript"></script>
        <script th:src="@{/js/owl.carousel.min.js}" type="application/javascript"></script>
        <script src="https://kit.fontawesome.com/73cbaad0ce.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap&subset=cyrillic-ext" rel="stylesheet">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light navbar-expand-md bg-light sticky-top overlay">
            <div class="container-fluid">
                <a th:href="@{'/'}" class="navbar-brand"><img th:src="@{/img/logo.jpg}" alt="logo" width="50" href="50" style="border-radius: 50%;"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto align-items-center">
                        <li class="nav-item-active" sec:authorize="isAnonymous()">
                            <a th:href="@{'/login'}" class="btn btn-block button" th:text="#{label.login}"></a>
                        </li>
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <a class="nav-link" th:href="@{'/prof/'}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <ul>
                                <li class="nav-item"><a th:href="@{'?lang=en'}">English</a></li>
                                <li class="nav-item"><a th:href="@{'?lang=ru'}">Русский</a></li>
                            </ul>
                        </li>
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <a class="nav-link" href="JavaScript:void(0)" onclick="toLogout()">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <form th:action="@{'/signout'}" method="post" id = "logoutFormId">
            </form>
            <script type="text/javascript">
                function toLogout() {
                    document.getElementById("logoutFormId").submit();
                }
            </script>
        </nav>

        <div class="container-fluid mt-4">
            <div class="row">
                <div class="col-12 col-sm-12 w-100" layout:fragment="myContent" style="min-height: 700px;">
                </div>
            </div>
        </div>
        <footer class="container-fluid bg-dark" id="contacts">
            <div class="container text-white pt-2">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="text-white">Address</h4>
                        <p><i class="fas fa-map-marker-alt"></i> Kazakhstan, Almaty st.Zhandossov 34А(Manas)</p>
                        <h6 class="text-white">© IITU 2020</h6>
                    </div>
                    <div class="col-sm-6 text-right">
                        <h4 class="text-white">Contacts</h4>
                        <p><i class="fas fa-phone"></i> +7(708) 506 09 08</p>
                        <p><i class="fas fa-at"></i> java.predictor@gmail.com</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>