<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layouts/main.html">
<div layout:fragment="myContent" >

    <div class="container">
        <div class="alert alert-danger col-12" role="alert" th:if="${notFound}">
            User with this email not found!
        </div>

        <div class="alert alert-success col-12" role="alert" th:if="${success}">
            Follow the link sent to your email.
        </div>

        <div class="row">
            <form class="form-group" method="post" th:action="@{'/forgot'}">
                <label for="email">Email</label>
                <input id="email" type="email" name="email">
                <button>Send</button>
            </form>
        </div>

    </div>

</div>
</html>