<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main.html">
<head>
    <title th:text="#{forgotPass}"></title>
    <link rel="stylesheet" th:href="@{/css/signin.css}" type="text/css">
</head>
<div layout:fragment="myContent" >

    <div class="row w-100">
        <div class="row col-12 w-100">
            <div class="alert alert-danger col-12 w-100" role="alert" th:if="${notFound}">
                <p class="text-center" th:text="#{label.emailNotFound}"></p>
            </div>

            <div class="alert alert-success col-12 w-100" role="alert" th:if="${success}">
                <p class="text-center" th:text="#{label.followTheLink}"></p>
            </div>
        </div>

        <div class="row col-12 w-100">
            <form class="form-signin" method="post" th:action="@{'/forgot'}">
                <h1 class="h3 mb-3 font-weight-normal text-center" th:text="#{label.resetPass}"></h1>
                <input style="border-radius: 23px;" placeholder="Email" class="form-control" id="email" type="email" name="email">
                <button type="submit" class="button btn-block w-100" th:text="#{label.reset}"></button>
            </form>
        </div>
    </div>

</div>
</html>