<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main.html">
<head>
    <title>Sign in</title>
    <link rel="stylesheet" th:href="@{/css/signin.css}" type="text/css">
    <title>#{label.signIn}</title>
</head>

<div layout:fragment="myContent">
    <div class="row">
        <form class="form-signin" method="post" th:action="@{'/auth'}">
            <p class="text-center"><img class="mb-4" th:src="@{/img/login.svg}" alt="Login" width="72" height="72"></p>
            <h1 class="h3 mb-3 font-weight-normal text-center" th:text="#{label.loginPlease}"></h1>

            <input style="border-radius: 23px;" type="email" id="inputEmail" class="form-control" th:placeholder="#{label.email}" name="user_email" required="" autofocus="">

            <input style="border-radius: 23px;" type="password" id="inputPassword" class="form-control mt-3" name="user_password" th:placeholder="#{label.password}" required="">

            <button class="button w-100" type="submit" th:text="#{label.login}"></button>

            <a th:href="@{register}" th:text="#{label.register}"></a>

            <a th:href="@{'/forgot-password'}" th:text="#{label.forgotPass}" class="float-right"></a>

        </form>
    </div>
</div>
</html>