<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layouts/main.html">
<div layout:fragment="myContent" >

    <div class="container" sec:authorize="isAuthenticated()">
        <div class="row">
            <div class="alert alert-danger col-12" role="alert" th:if="${incorrectPassword}" th:text="#{label.incorrectPassword}">
            </div>

            <div class="alert alert-success col-12" role="alert" th:if="${changeSuccess}" th:text="#{label.passwordChangeSuccess}">
            </div>

            <div class="alert alert-danger col-12" role="alert" th:if="${passwordNotMatch}" th:text="#{label.regPasswordNotMatch}">
            </div>
        </div>
        <div class="row">
                <div class="col-sm-4">
                    <form class="form-group" method="post" th:action="@{/prof/changePassword}">
                        <label for="oldPassword">Current Password</label>
                        <div class="form-group">
                            <input id="oldPassword" type="password" name="oldPassword" class="form-control" placeholder="Current Password">
                        </div>
                        <label for="password1">New Password</label>
                        <div class="form-group">
                            <input id="password1" type="password" name="password1" class="form-control" placeholder="New Password">
                        </div>
                        <label for="password2">Confirm Password</label>
                        <div class="form-group">
                            <input id="password2" type="password" name="password2" class="form-control" placeholder="Confirm Password">
                        </div>
                        <button class="btn btn-info">Change password</button>
                    </form>
                </div>
        </div>
        <script>
            let password = document.getElementById("password1")
                , confirm_password = document.getElementById("password2");

            function validatePassword(){
                if(password.value !== confirm_password.value) {
                    confirm_password.setCustomValidity("Passwords Don't Match");
                } else {
                    confirm_password.setCustomValidity('');
                }
            }

            password.onchange = validatePassword;
            confirm_password.onkeyup = validatePassword;
        </script>
    </div>

</div>
</html>